<header>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><img th:src="@{img/logo2.png}" alt="" height="100" width="100%">
            </a>
            <ul class="nav me-auto ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/receitas">Receita</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cadastro">Cadastre-se
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>

            </ul>
            </form>
        </div>
    </nav>
</header>