<header>
    <h1>Colégio Atlas</h1>
    <nav>
        <a href="/home"><i class="fas fa-home"></i> Inicio</a>
        <a href="#"><i class="fas fa-info-circle"></i> Sobre</a>
        <a href="#"><i class="fas fa-phone"></i> Contato</a>
        <div class="acesso">
            <a href="#"><i class="fas fa-user-graduate"></i> Alunos</a>
            <a href="/proflog"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
            <a href="/admlog"><i class="fas fa-user-tie"></i> Administradores</a>
        </div>
    </nav>
</header>