<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div th:include="~{fragmentos/head}"></div> <!-- Estilização -->
</head>


<body>
    <div th:insert="~{fragmentos/header :: header}"><!-- barra de menu --></div>
    <div class="container">
        <!-- ---inserir um carroussel-- -->
        <!-- inserir um footer -->
    </div>


</body>


</html>