<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{styleIndex.css}">
</head>

<body>
    <header>
        <h1>Escola XYZ</h1>
        <nav>
            <a href="#">Home</a>
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
            <div>
                <a href="#"><i class="fas fa-user-graduate"></i> Alunos</a>
                <a href="#"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
                <a href="cadastros/admCad"><i class="fas fa-user-tie"></i> Administradores</a>
            </div>
        </nav>
    </header>

</body>

</html>